body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
  margin: 0;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 4px solid #333;
}

.square {
  width: 60px;
  height: 60px;
}

.light {
  background-color: #efefef;
}

.dark {
  background-color: #090602;
}
