.grid-container {
  display: grid;
  border: 2px solid #333;
  margin: 20px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

 /* 3 fixed columns */
} /* space between items */


.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}



